[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
jupyter = "*"
notebook = "*"
langchain-community = "*"
langchain-core = "*"
huggingface-hub = "*"
pandas = "*"
matplotlib = "*"
langchain-openai = "*"
python-dotenv = "*"
faiss-cpu = "*"
yfinance = "*"

[dev-packages]

[requires]
python_version = "3.12"
